In [11]:
# Import pandas library
import pandas as pd
import numpy as np

In [2]:
# Read in the file and view the first five rows
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [3]:
#Record count
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [4]:
len(df)

9704

In [5]:
# Pandas version in use
print(pd.__version__)

2.3.1

In [6]:
# No of fuel types
df['fuel_type'].nunique()

2

In [7]:
# Missing values
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [8]:
# Max fuel efficiency
df.loc[df['origin'] == 'Asia', 'fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [9]:
# 1. Find the median value of horsepower column
median_before = df['horsepower'].median()
print("Median before filling NaN:", median_before)

# 2. Calculate the most frequent value (mode)
most_frequent = df['horsepower'].mode()[0]
print("Most frequent value:", most_frequent)

# 3. Fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_frequent)

# 4. Calculate the median again after filling
median_after = df['horsepower'].median()
print("Median after filling NaN:", median_after)

Median before filling NaN: 149.0
Most frequent value: 152.0
Median after filling NaN: 152.0

In [12]:
# 1. Select all the cars from Asia
df_asia = df.loc[df['origin'] == 'Asia']

# 2. Select only columns vehicle_weight and model_year
df_asia_subset = df_asia[['vehicle_weight', 'model_year']]

# 3. Select the first 7 values
df_asia_first7 = df_asia_subset.head(7)

# 4. Get the underlying NumPy array
X = df_asia_first7.to_numpy()

# 5. Compute X^T * X
XTX = X.T @ X   # same as np.dot(X.T, X)

# 6. Invert XTX
XTX_inv = np.linalg.inv(XTX)

# 7. Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8. Compute w = (XTX^-1 * X^T * y)
w = XTX_inv @ X.T @ y

# 9. Compute the sum of all elements in w
result_sum = w.sum()

print("w:", w)
print("Sum of all elements in w:", result_sum)

w: [0.01386421 0.5049067 ]
Sum of all elements in w: 0.5187709081074016